<header class="navbar navbar-fixed-top">
  <div class ="navbar-inner">
    <div class="container">
      <%= link_to "Taskio", '#', id: "main_title" %>
       <nav>
        <ul class="nav pull-right">
           <!-- <li><%= link_to "sign up" %></li> -->
           <!-- <li><%= link_to "sign in" %></li> -->
           <!-- <li><%= link_to "tasks" %></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>
